POSTGRES_USER=${USER:-postgres}
DATABASE_URL=postgresql://${POSTGRES_USER}@localhost:5432/proj_db_postgres
DATABASE_ADMIN_URL=postgresql://${POSTGRES_USER}@localhost:5432/postgres
TOPOGRAM_INPUT_PATH=../../../../topogram
